.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cycleDots {
  display: flex;
  gap: .8rem;
}

.cycleDot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}
